{% extends 'base.html' %}

{% block content %}
<div style="padding-block: 10px ; margin-left: 20px;margin-right: 20 px;">
  <h2>{% if form.instance.pk %}Edit{% else %}New{% endif %} Financial Data</h2>
  <form method="post" action="{% if form.instance.pk %}{% url 'financial_data_edit' pk=form.instance.pk %}{% else %}{% url 'financial_data_new' %}{% endif %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
  <p><a href="{% url 'financial_data_list' %}">Cancel</a></p>
</div>
{% endblock %}
